.containerAnimal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.animalDescriptionDetail {
  width: 30rem;
  text-align: left;
    font-size: 1rem;
    font-weight: 300;
}


