body {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  font-weight: 400, 700;
}

.heroPicture {
  width: 115rem; /* Make the image fill the container width */
  height: 39rem; /* Maintain aspect ratio */
  overflow: hidden; /* Hide the overflowing of the image */
  margin: 0 auto;
  padding: 0;
}

.whiteText {
  color: white;
}

.whiteTextMod {
  margin: 5rem;
}

.aboutSection {
    display: flex;
    justify-content: space-between;
  border: 1px solid black;
}
