body {
  margin: 0 auto;
  padding: 2rem;
  font-family: "Oswald", sans-serif;
}

.bannerPicture {
  height: 27vh;
  background-position: center;
  background-size: cover;
}

.whiteText {
  color: white;
}

.whiteText-size-h1 {
  font-size: 3rem;
  font-weight: 700;
}
.whiteText-size-p {
  font-size: 1.5rem;
  font-weight: 400;
}

.whiteTextMod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1rem;

  
}

.card-grid {
  display: grid;
  grid-auto-flow: column;
  text-align: left;
}

.cardPic{
  width: 15vw;
}
.cardPicText{
  width: 18rem;
}
.cardPicTextHeader{
  border-bottom: 1px solid gray;
  width: 15vw;
  text-transform: uppercase;
}

.volunteerSection{
  border: 1px solid black;
  width: 15vw;
  height: 45rem;
  
}
.card-dyr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  text-align: left;
}
