.nav {
  display: grid;
  grid-auto-flow: column;
}

.herotext {
  font-size: 1rem;
  padding-left: 1rem;
}
.herotextPic {
  width: 3rem;
  height: 3rem;
}

.d-flex {
  display: flex;
  margin-bottom: 1rem;
  > a {
    padding: 0 0.3rem;
  }
}

.navText {
  text-decoration: none;
  color: gray;
  }

.navText:hover {
  color: black;
}
 


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
